# =============================================
# ✘ 𝙍𝘼𝙑𝙀𝙉 | @P_X_24
# =============================================

# ملف الإعدادات - لا ترفعه أبداً
jello.ini

# ملفات Sessions - لا ترفعها أبداً
sessions/
*.session
*.session-journal

# ملفات قاعدة البيانات
database/

# ملفات Python
__pycache__/
*.py[cod]
*.pyo

# بيئات افتراضية
venv/
env/
.venv/

# ملفات النظام
.DS_Store
Thumbs.db

# ملفات المحررات
.vscode/
.idea/

# Logs
*.log
